
## -*- coding: utf-8 -*-

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="content-script-type" content="text/javascript">
    <title>${self.title()}</title>
	<link href="/css/photostream.css" media="screen" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    ${self.head()}
</head>
<body>
<div id="container">
<div id="header-region">
    ${self.header()}
 ##   ${self.tabs()}
  ##  ${self.menu()}
</div>
<div id="main">
    ${self.heading()}
	${self.flash()}
    ${next.body()}
</div>
    ${self.footer()}

</div>
</body>
</html>

<%def name="title()">Chez Wam</%def>
<%def name="head()">
	${h.stylesheet_link(h.url_for('/css/main.css'))}
</%def>

<%def name="header()">
<div id="header">
	<div class="inside">
	<a name="top"></a>
	<div class="home">
		<a href="${h.url_for('path', id=6)}"><img src="/images/home-normal.png" title="Chez Wam" alt="Chez Wam"/></a>
	</div>
	<div class="signature"><span>@</span>manumilou</div>
	</div>
</div>
</%def>

##<%def name="tabs()">${navigation.tabs()}</%def>
##<%def name="menu()">${navigation.menu()}</%def>
<%def name="heading()"><h1>${c.heading or 'No Title'}</h1></%def>

<%def name="footer()">
<div id="footer">
	<p><a href="#top">Top ^</a></p>
</div>
</%def>

<%def name="flash()">
    % if session.has_key('flash'):
    <div id="flash"><p>${session.get('flash')}</p></div>
    <%
        del session['flash']
        session.save()
    %>
    % endif
</%def>
